0 0 * * * /usr/local/bin/remind /Users/dnorris/drive/dcn/remind/defer.rem | /usr/bin/egrep -v '^Reminders for|^$|^No reminders.$' >> /Users/dnorris/drive/dcn/in.otl
0/10 * * * * /usr/local/bin/remind -s+53 -m /Users/dnorris/drive/dcn/remind/dcn.rem  | /Users/dnorris/drive/dcn/remind/scripts/display_reminders.py > /Users/dnorris/drive/agenda.txt
* 0/1 * * * /Users/dnorris/drive/dcn/backup.sh
